## editors
/.idea
/.vscode
*.iml

## system files
.DS_Store

## code coverage folders
coverage/

## npm
node_modules
npm-debug.log
yarn-error.log

## lerna
lerna-debug.log

## temp folders
/.tmp/

## build hp
/_site/
/_site-dev/

## build output
dist
build-stats.json
stats.html
.rpt2_cache
storybook-static

## browserstack
local.log
